<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <style>
    body {
      background-color: darkslateblue;
      color: lightgreen;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 12em;
      margin-left: 24em;
    }

    a:link {
      color: lawngreen;
    }

    a:visited {
      color: darkseagreen;
    }

    a:hover {
      color: greenyellow;
    }

    a:active {
      color: lightgreen;
    }
  </style>

  <body>
    <a href="/animals">Back to the list of animals</a>
    <form method="POST" action="/animals/<%=animal._id%>?_method=PUT">
      Name: <input type="text" name="name" value="<%= animal.name %>" />
      <br />
      Habitat: <input type="text" name="habitat" value="<%= animal.habitat %>" />
      <br />
      Life Expectancy: <input type="number" name="lifeExpectancy" value=" <%= animal.lifeExpectancy %>" />
      Carnivore: <input type="checkbox" name="carnivore" <%=animal.carnivore ? "checked" : "" %>/>
      <br />
      <input type="Submit" value="Save Edits" />
    </form>
  </body>

</html>