<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animals</title>
</head>

<body>
  <a href="/animals">Back to the list of animals</a>
  <h1>
    <%= animal.name %>
  </h1>
  <p>Habitat: <%= animal.habitat %>
  </p>
  <p>
  </p>Life Expectancy: <%= animal.lifeExpectancy %>
    <p>Carnivore?: <%= animal.carnivore %>
    </p>
    <form method="POST" action="/animals/<%= animal._id %>?_method=DELETE">
      <input type="submit" value="delete animal" />
    </form>

    <a href="/animals/<%= animal._id %>/edit">
      <button>Edit</button>
    </a>

</body>

</html>